Repository songb1rd/TurboTeleBASIC, changes with the labels that .github/labeler.yml gives for each.
All labels: T-compiler, T-lang, T-docs

.github/labeler.yml:

T-compiler:
  - turbotelebasic/compiler/*

T-lang:
  - turbotelebasic/telebasic.lark

T-docs:
  - docs/**/*

Rewrite internals and add bytecode dep.
  pyproject.toml
  turbotelebasic/__main__.py
  turbotelebasic/compiler/__init__.py
  turbotelebasic/compiler/code_gen.py
  turbotelebasic/compiler/compile.py
  turbotelebasic/runtime/__init__.py
  turbotelebasic/telebasic.lark
Labels: T-compiler, T-lang

bugfix invalid op name for subtract.
  turbotelebasic/compiler/code_gen.py
Labels: T-compiler

Add `ttb` entry point
  pyproject.toml
Labels: none

Make the input file required and add an optimization option
  turbotelebasic/__main__.py
Labels: none

try and force the label rule into more positions
  turbotelebasic/telebasic.lark
Labels: T-lang

Add turbobasic.lark
  turbotelebasic/turbobasic.lark
Labels: none

Add utils.py
  turbotelebasic/compiler/code_gen.py
  turbotelebasic/utils.py
Labels: T-compiler

Rewrite the backend
  turbotelebasic/__main__.py
  turbotelebasic/compiler/builder.py
  turbotelebasic/compiler/cfg.py
  turbotelebasic/compiler/compile.py
  turbotelebasic/compiler/grammars.py
  turbotelebasic/compiler/parse.py
  turbotelebasic/compiler/remap.py
Labels: T-compiler

Add .gitignore
  .gitignore
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: none

Update README
  README.md
Labels: none

Replate old source with bcc
  .gitignore
  bcc/__init__.py
  bcc/__main__.py
  bcc/file.py
  bcc/preproc.py
  tests/test_interpreter.py
  turbotelebasic/__init__.py
  turbotelebasic/__main__.py
  turbotelebasic/compiler/__init__.py
  turbotelebasic/compiler/code_gen.py
  turbotelebasic/compiler/compile.py
  turbotelebasic/telebasic.lark
Labels: T-compiler, T-lang

Add mypy and pytest deps
  bcc/file.py
  bcc/preproc.py
  poetry.lock
  pyproject.toml
  tests/test_preproc.py
Labels: none

Lint: black
  bcc/__main__.py
  bcc/preproc.py
Labels: none

Replace `into_str(File)` as `File.__str__`
  bcc/__main__.py
  bcc/file.py
Labels: none

Bugfix: leftover typo
  bcc/__main__.py
  bcc/file.py
Labels: none

Add test_preproc
  tests/test_preproc.py
Labels: none

Add `__version__` and `__author__`
  bcc/__init__.py
Labels: none
