Repository songb1rd/TurboTeleBASIC, pull requests merged in 2020-02, with the labels that each got.

#3 Checkpoint merge devel
  pyproject.toml
  turbotelebasic/__main__.py
  turbotelebasic/telebasic.lark
Labels: T-lang

#5 Rewrite internals and add bytecode dep.
  pyproject.toml
  turbotelebasic/__main__.py
  turbotelebasic/compiler/__init__.py
  turbotelebasic/compiler/code_gen.py
  turbotelebasic/compiler/compile.py
  turbotelebasic/runtime/__init__.py
  turbotelebasic/telebasic.lark
Labels: T-compiler, T-lang

#4 fixed some errors
  docs/source/lang.rst
Labels: T-docs
